<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap"
        rel="stylesheet">
    <link rel="preload" href="../css/styles.css" as="styles">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../img/linux.png" type="image/x-icon">
    <title>Curso Linux | Inicio</title>
</head>

<body>

    <div class="barra">
        <div class="encabezado">
            <a class="logo" href="index.html">
                <img src="../img/linux.png" class="logo">
                <a class="titulo" style="text-decoration: none;">GNU/Linux</a>
            </a>
        </div>
        <nav class="navegacion">
            <a href="http://localhost:8080/auth" class="login-button">Iniciar sesión</a>
            <a href="http://localhost:8080/signup" class="signup-button">Crear cuenta</a>
        </nav>
    </div>
    <hr>
    <!-- <nav class="navega">
            <a href=".">Introduccion a Linux</a>
            <a href=".">Instalación de Linux</a>
            <a href=".">Terminal de Linux</a>
            <a href=".">Usuarios y grupos</a>
            <a href=".">Shell Scripting</a>
        </nav> -->
    <div class="contenedor sombra">
        <h2>¿Qué es Linux?</h2>
        <p>
            Linux es un sistema operativo de código abierto basado en Unix que se utiliza ampliamente en una variedad de
            dispositivos, desde servidores y supercomputadoras hasta dispositivos móviles y sistemas integrados. Fue
            creado originalmente por Linus Torvalds en 1991 como un proyecto de software libre y de código abierto.
        </p>
        <p>
            A diferencia de los sistemas operativos comerciales como Windows o macOS, Linux está disponible de forma
            gratuita y se distribuye bajo una licencia de software libre, lo que significa que cualquiera puede
            descargar, modificar y distribuir su código fuente. Esto ha llevado a una gran comunidad de desarrolladores
            y usuarios que contribuyen al desarrollo y la mejora continua del sistema.
        </p>
        <p>
            Linux es conocido por su estabilidad, seguridad y flexibilidad. Viene en muchas distribuciones diferentes,
            también conocidas como "distros", que varían en características y enfoques, desde las más populares como
            Ubuntu, Debian y Fedora hasta otras más especializadas como Kali Linux para pruebas de seguridad o Ubuntu
            Studio para producción multimedia.
        </p>
        <p>
            Además de ser utilizado en servidores y computadoras de escritorio, Linux también se utiliza en una variedad
            de otros dispositivos, incluyendo teléfonos inteligentes (a través de proyectos como Android), sistemas
            embebidos en dispositivos IoT (Internet de las cosas), enrutadores, televisores inteligentes y muchos más.
            Su versatilidad y capacidad para adaptarse a una amplia gama de necesidades lo convierten en una opción
            popular tanto para usuarios domésticos como para empresas.
        </p>
        <div class="container-cursos">
            <section class="secciones">
                <h3>Lecciones</h3>
                <ul>
                    <% lecciones.forEach((leccion, index)=> { %>
                        <div class="card">
                            <div class="half-left">
                                <h2 class="title-text"><%= leccion.nombre %></h2>
                            </div>
                            <div class="half-right">
                                <h2><strong>Lección <%= index + 1 %>:</strong> <%= leccion.nombre %></h2>
                                <p><%= leccion.descripcion %></p>
                                <p>Nivel: <%= leccion.nivel %></p>
                                <p>Progreso: <%= leccion.progreso %></p>
                                <div class="botones-seccion">
                                    <div id="evaluacion">
                                        <a href="http://localhost:8080/leccion/<%= leccion.id_leccion %>" class="evaluacion-button">Evaluacion</a>
                                    </div>
                                    <div id="continuar">
                                        <a href="http://localhost:8080/leccion/<%= leccion.id_leccion %>" class="continue-button">Continuar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </ul>
            </section>
        </div>
    </div>
</body>

</html>